{% extends 'management/base.html' %}
{% block title %}Add new Page{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
	<form id="page_form" method="post" action="/management/organization/{{ organization_name }}/create_trip_form/"> {% csrf_token %}

  {% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
		<input type="submit" text="submit" value="Add a Trip" />

	</form> 
	{% else %}
	please log in first
	{% endif %}
{% endblock %}