{% extends 'management/base.html' %}
        {%block content %}


<form action="/management/organization_create_form/" role="form" method="post">{% csrf_token %}
    <label for="date">Fecha:</label>
        <input type="date" class="form-control" name="date" required autofocus />
        <br />

    <label for="country">País: </label> <div class="form-control">{{ form.organization }}</div>

        <br />

    <input type="submit" class="btn btn-primary" value="Submit" />
</form>


        {% endblock %}
