body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotrona {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
<<<<<<< HEAD
}



.profile {
    background-color:#eee;
    border-radius: 6px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile h1 {
text-align: center;
}
.rep {
    background-color:#eee;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
}

.trip {
    background-color:#eee;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
}
=======
}
>>>>>>> parent of 0395d08... profile is done-next is create trip
